{{ partial "header.html" . }}
{{ partial "loading.html" . }}
{{ partial "navbar.html" . }}

  {{ partial "section_header.html" . }}
  {{ partial "section_services.html" . }}
  <!-- Portfolio Section -->
  {{ partial "section_portfolio.html" . }}
  <!-- About Section -->
  {{ partial "section_about.html" . }}
  <!-- Team Section -->
  {{ partial "section_team.html" . }}
  <!-- Testimonials Section -->
  {{ partial "section_testimonials.html" . }}

  <!-- Contact Section -->
  {{ partial "section_contact.html" . }}


  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  {{ partial "widgets/portfolio_item_modal.html" . }}

  {{ partial "footer.html" . }}
