<div id="footer">
  <div class="container">
    <p>Copyright © Tempo. Design by <a href="https://www.templategarden.com" rel="nofollow" target="_blank">TemplateGarden</a></p>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/jquery.1.11.1.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/SmoothScroll.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/wow.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.isotope.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/jqBootstrapValidation.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/contact_me.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/owl.carousel.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | relURL }}"></script>
</body>

</html>
