{{ $root := .root }}
{{ $page := .page }}

{{ with .page.Params.info }}
<div id="works-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>{{ .caption | safeHTML }}</h2>
      <hr>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="portfolio-items">
        {{ range .works }}
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <div class="hover-text">
                <h4>{{ .name | safeHTML }}</h4>
                <div class="clearfix"></div>
              </div>
              <img src="{{ .img | relURL }}" class="img-responsive" alt="{{ .name }}">
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
