{{ $root := .root }}
{{ $page := .page }}

{{ with .page.Params.info }}
<div id="about-section">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2>{{ .caption | safeHTML }}</h2>
      <hr>
      <div class="clearfix"></div>
      <p>---------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ .desc | safeHTML }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---------</p>
    </div>
    <div class="row">
      <div class="col-md-6 wow fadeInLeft"> <img src="{{ "/img/about.png" | relURL }}" class="img-responsive"> </div>
      <div class="col-md-6 wow fadeInRight">
        {{ range .listone }}
        <h4>{{ .caption | safeHTML }}</h4>
        <p>{{ .desc | safeHTML }}</p>
        <div class="space"></div>
        {{ end }}
        <div class="list-style">
          <div class="row">
            {{ range .listtwo }}
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                {{ range .items }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
