{{ $root := .root }}
{{ $page := .page }}

{{ with .page.Params.info }}
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>{{ .caption | safeHTML }}</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme wow fadeInUp" data-wow-delay="200ms">
          <div class="item">
            <img src="{{ "" | relURL }}" alt="..." class="img-circle team-img">
            <p>The most subscribed and viewed photography show on the interweb, presented by an asian dude with British accent. DRTV is turning its success to be the most popular photography show around the world.</p>
            <p><strong>DIGITALREV TV</strong></p>
            <ul class="unstyled">
    					<li>ReactJS</li>
    					<li>Redux</li>
    					<li>NodeJS</li>
    					<li>Javascript</li>
    					<li>CSS3</li>
    				</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
