<div id="works-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2>Our <strong>Portfolio</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
    </div>
    
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg">
              <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="hover-text">
                  <h4>Project Title</h4> Web Design
                  <div class="clearfix"></div>
                  <i class="fa fa-plus"></i> </div>
                <img src="{{ "/img/portfolio/01.jpg" | relURL }}" class="img-responsive" alt="Project Title"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
